In [1]:
import sqlparse

In [2]:
sqlparse.cli

In [3]:
import sqlparse

In [4]:
def extract_definitions(token_list):
    # assumes that token_list is a parenthesis
    definitions = []
    tmp = []
    # grab the first token, ignoring whitespace. idx=1 to skip open (
    tidx, token = token_list.token_next(1)
    while token and not token.match(sqlparse.tokens.Punctuation, ')'):
        tmp.append(token)
        # grab the next token, this times including whitespace
        tidx, token = token_list.token_next(tidx, skip_ws=False)
        # split on ",", except when on end of statement
        if token and token.match(sqlparse.tokens.Punctuation, ','):
            definitions.append(tmp)
            tmp = []
            tidx, token = token_list.token_next(tidx)
    if tmp and isinstance(tmp[0], sqlparse.sql.Identifier):
        definitions.append(tmp)
    return definitions

In [5]:
SQL = """CREATE TABLE foo (
             id integer primary key,
             title varchar(200) not null,
             description text);"""

In [6]:
parsed = sqlparse.parse(SQL)[0]

In [7]:
parsed.token_next?

In [8]:
_, par = parsed.token_next_by(i=sqlparse.sql.Parenthesis)

In [9]:
par

In [10]:
for i in par:
    print i

In [11]:
parsed

In [12]:
parsed.tokens

In [13]:
columns = extract_definitions(par)

In [14]:
columns

In [15]:
for column in columns:
        print('NAME: {name:10} DEFINITION: {definition}'.format(
            name=column[0], definition=''.join(str(t) for t in column[1:])))

In [16]:
columns

In [17]:
str(columns[1])

In [18]:
columns

In [19]:
columns[1:]

In [20]:
columns = extract_definitions(par)

In [21]:
columns

In [22]:
str[columns[1]]

In [23]:
str(columns[1])

In [24]:
str(columns[1:1])

In [25]:
str(columns[1:])

In [26]:
for column in columns:
        print('NAME: {name:10} DEFINITION: {definition}'.format(
            name=column[0], definition=''.join(str(t) for t in column[1:])))

In [27]:
columns

In [28]:
len(columns)

In [29]:
columns[0]

In [30]:
columns[0][1]

In [31]:
columns[0][1:]

In [32]:
str(columns[0][1])

In [33]:
str(columns[0][2])

In [34]:
str(columns[0][3])

In [35]:
str(columns[0][4])

In [36]:
parsed

In [37]:
parsed.tokens

In [38]:
parsed.tokens[0]

In [39]:
str(parsed.tokens[0])

In [40]:
sql1 = """select fn,age from customer a where a.fn = '10'"""

In [41]:
stmt = sqlparse(sql1)[0]

In [42]:
stmt = sqlparse.parse(sql1)[0]

In [43]:
stmt.tokens

In [44]:
for i in stmt.tokens:
    print str(i)

In [45]:
for i in stmt.tokens:
    print '//',str(i)

In [46]:
stmt.tokens

In [47]:
stmt.tokens[6]

In [48]:
for i in stmt.tokens[6]:
    print i

In [49]:
len(stmt.tokens[6])

In [50]:
stmt.tokens[6]

In [51]:
type(stmt.tokens[6])

In [52]:
i = type(stmt.tokens[6])

In [53]:
i.group_tokens()

In [54]:
i.get_sublists()

In [55]:
i.flatten()

In [56]:
i

In [57]:
i.get_name

In [58]:
i.get_name()

In [59]:
i

In [60]:
i = stmt.tokens[6]

In [61]:
i.get_name

In [62]:
i.get_name()

In [63]:
i.get_real_name()

In [64]:
i.get_ordering()

In [65]:
i.get_parent_name()

In [66]:
i.has_alias()

In [67]:
i.insert_after

In [68]:
i.insert_after()

In [69]:
i.get_parent_name()

In [70]:
stmt.tokens

In [71]:
w = stmt.tokens[8]

In [72]:
w

In [73]:
type(w)

In [74]:
w.get_name()

In [75]:
str(w)

In [76]:
w

In [77]:
w.tokens

In [78]:
w.tokens[2]

In [79]:
w1  = w.tokens[2]

In [80]:
w1

In [81]:
type(w1)

In [82]:
w1.tokens

In [83]:
w1.tokens[0]

In [84]:
w1.tokens[0].tokens

In [85]:
n = w1.tokens[0].tokens[2]

In [86]:
type(n)

In [87]:
n.ttype

In [88]:
n = w1.tokens[0].tokens[1]

In [89]:
n.ttype

In [90]:
n.value

In [91]:
n.parent

In [92]:
type(stmt)

In [93]:
type(w)

In [94]:
stmt.tokens

In [95]:
type(stmt.tokens[0])

In [96]:
type(stmt.tokens[1])

In [97]:
type(stmt.tokens[2])

In [98]:
dml = type(stmt.tokens[0])

In [99]:
dml.ttype

In [100]:
dml.ttype()

In [101]:
dml.ttype

In [102]:
dml.value

In [103]:
str(dml)

In [104]:
dml.ttype()

In [105]:
dml.ttyp

In [106]:
dml.ttype

In [107]:
str(dml.ttype)

In [108]:
dml.ttype

In [109]:
dml.parent

In [110]:
dml.ttype

In [111]:
dml.flatten()

In [112]:
dml.flatten

In [113]:
dml

In [114]:
dml =stmt.tokens[0]

In [115]:
dml.ttype

In [116]:
dml.value

In [117]:
dml

In [118]:
dml.

In [119]:
dml

In [120]:
dml.flatten()

In [121]:
for i in dml.flatten():
    print i

In [122]:
next

In [123]:
next?

In [124]:
from sqlparse.sql import Where, Comparison, Parenthesis

In [125]:
query = """
select
    id,fname,lname,address
from
    res_users as r
    left join
        res_partner as p
    on
        p.id=r.partner_id
where
    name = (select name from res_partner where id = 1)"""

In [126]:
query_tokens = sqlparse.parse(query)[0]
where = next(token for token in query_tokens.tokens if isinstance(token, Where))
condition = next(token for token in where.tokens if isinstance(token, Comparison))
subquery = next(token for token in condition.tokens if isinstance(token, Parenthesis))

In [127]:
where

In [128]:
print where

In [129]:
print subquery

In [130]:
subquery.tokens

In [131]:
query_tokens.tokens

In [132]:
sql2="""  SELECT 
  FE.EVENT_ID
, DC.CURR_DATE AS CALENDAR_DT
, EV.CHNL_ID
, PARTY.PARTY_IDNTFN_NMBR || PARTY.PARTY_IDNTFN_NMBR_SFFX AS PRIMARY_CUSTOMER_ID
, FE.ACCT_ID AS AGMT_ID
, CARD_EV.ACCS_DVC_ID
, EV.TXN_IDNTFN AS TXN_IDNTFN 
, EV.HST_TXN_CD
, NULL AS EVENT_CURR_STATS_CD
, FE.DR_CR_CD AS DBT_CRDT_CD
, EV.EVENT_ST_DT
, TRIM(EV.EVENT_ST_TM) AS EVENT_ST_TM
, NULL AS EVENT_END_DT
, NULL AS EVENT_END_TM
, EV.EVENT_DESC
, EV.EVENT_RSN_CD
, EV.EVENT_ACTV_TYP_CD AS EVENT_ACTVTY_TYP_CD
, FE.FIN_EVENT_TYP_CD
, EV.ACCS_DVC_EVENT_IND
, EV.INVST_PRDT_EVENT_IND  AS  INVESTMENT_PRDT_EVENT_IND
, NULL AS FNDS_TFR_EVENT_IND
, EV.EVENT_LOC_CD AS EVENT_LCTN_CD
, EV.INFO_SRC_TYP_CD  AS  INFO_SOURCE_TYP_CD 
, EV_MRCH.MRCH_CNTY_CD  AS  EVENT_CNTRY_CD 
, FE.EVENT_PSTD_DT 
, FE.EVENT_VAL_DT
, FE.EVENT_CCY_CD AS EVENT_CRNCY_CD
,CASE WHEN FE.DR_CR_CD = 'CR' THEN -1*EVENT_AMT WHEN FE.DR_CR_CD = 'DR' THEN EVENT_AMT END AS EVENT_AMT
,CASE WHEN FE.DR_CR_CD = 'CR' THEN -1*EVENT_BASE_AMT WHEN FE.DR_CR_CD = 'DR' THEN EVENT_BASE_AMT END  AS EVENT_BSE_AMT  
, NULL AS EVENT_TXT
, FE.TO_ACCT_ID
, EV_MRCH.MRCH_ID AS MRCHNT_ID                       
, CU_MCC.MCC_CODE AS MCC   
, CU_MCC.MCC_TYPE AS MRCHNT_CTGRY_DESC
, CU_MCC.MCC_DESC AS MRCHNT_SRVC_CTGRY_DESC
, CARD_EV.AUTHIZATION_VAL AS ACCS_DVC_AUTH_VAL   --CARD_EV.AUTHIZATION_VAL    AS ACCS_DVC_AUTH_VAL 
,CASE 
 WHEN SUBSTR(MRCH_ID,7,6)='168999' THEN 0  
 WHEN SUBSTR(MRCH_ID,7,3) IN ('168' ,'700', '800') THEN 1
 ELSE   0   END  AS  MRCHNT_ON_US_FLG
,COALESCE(CU_CC_TXN_TYP.CATEGORY1,CU_DC_TXN_TYP.CATEGORY1,CU_CL_TXN_TYP.CATEGORY_1) AS USR_TXN_CTGRY_1
,COALESCE(CU_CC_TXN_TYP.CATEGORY2,CU_DC_TXN_TYP.CATEGORY2,CU_CL_TXN_TYP.CATEGORY_2) AS USR_TXN_CTGRY_2
,COALESCE(CU_CC_TXN_TYP.CATEGORY3,CU_DC_TXN_TYP.CATEGORY3,CU_CL_TXN_TYP.CATEGORY_3) AS USR_TXN_CTGRY_3
,COALESCE(CU_CC_TXN_TYP.DESCRIPTION,CU_DC_TXN_TYP.DESCRIPTION,CU_CL_TXN_TYP.DESCRIPTION) AS USR_TXN_DESC
,CASE WHEN POS_MODE.EVENT_CLAS_VAL_CD = 'CNCTL_TXN' THEN 1 ELSE 0 END  AS   CNTCTLESS_FLG
,COALESCE (CU_CC_TXN_TYP. LCL_TXN_IND,CU_DC_TXN_TYP.LCL_TXN_IND,CU_CL_TXN_TYP.LCL_TXN_IND) AS LCL_TXN_IND
,CASE WHEN ECOMM.EVENT_CLAS_VAL_CD = 'YES' THEN 1 WHEN ECOMM.EVENT_CLAS_VAL_CD = 'NO' THEN '0' END AS   ECMMRC_FLG
, POS_MODE.EVENT_CLAS_VAL_CD AS  PNT_OF_SRVC_VAL_CD      
, PARTY.PARTY_ID
, EV.ST_DT AS AS_OF_DT
, 776500 AS INS_PROC_ID
, 110 AS DATA_SOURCE_ID

FROM 
(
    SELECT EVENT_ID, EVENT_ST_DT,STRTOK(ACCT_ID,'_',2) AS ORG,ACCT_ID,DR_CR_CD,FIN_EVENT_TYP_CD,EVENT_PSTD_DT,EVENT_VAL_DT,EVENT_CCY_CD,TO_ACCT_ID,EVENT_AMT,EVENT_BASE_AMT
    FROM  BIP_VXDB.V0521_FIN_EVENT FE 
     CROSS JOIN (SELECT  CURRENT_EXTRACTION_DATE AS CURR_DATE  FROM  BIP_ADM_TXFDB.V_DATE_CARD_M6_DC001) DC
     WHERE FE.DATA_SOURCE_ID = '110'  AND SUBSTR(EVENT_ID,1,6) = '110028'
     AND  FE.EVENT_ST_DT BETWEEN DC.CURR_DATE - 400 AND       DC.CURR_DATE 
) FE 

---INNER JOIN  BIP_VXDB.V0500_EVENT EV  ON  FE.EVENT_ID = EV.EVENT_ID AND  FE.EVENT_ST_DT = EV.EVENT_ST_DT 

INNER JOIN
(
SELECT 
 EVENT_ID
 ,CHNL_ID
,TXN_IDNTFN 
,HST_TXN_CD
,EVENT_ST_DT
,EVENT_ST_TM
,EVENT_DESC
,EVENT_RSN_CD
,EVENT_ACTV_TYP_CD
,ACCS_DVC_EVENT_IND
,INVST_PRDT_EVENT_IND  
,EVENT_LOC_CD 
,INFO_SRC_TYP_CD
,DATA_SOURCE_ID
,ST_DT
FROM BIP_VXDB.V0500_EVENT 
CROSS JOIN (SELECT  CURRENT_EXTRACTION_DATE AS CURR_DATE  FROM  BIP_ADM_TXFDB.V_DATE_CARD_M6_DC001) DC
WHERE DATA_SOURCE_ID = 110 AND EVENT_ST_DT BETWEEN DC.CURR_DATE - 400 AND  DC.CURR_DATE 
) EV
 ON  FE.EVENT_ID = EV.EVENT_ID AND  FE.EVENT_ST_DT = EV.EVENT_ST_DT 

CROSS JOIN (SELECT  CURRENT_EXTRACTION_DATE AS CURR_DATE  FROM  BIP_ADM_TXFDB.V_DATE_CARD_M6_DC001) DC 
LEFT OUTER JOIN BIP_VXDB.V0510_ACCS_DVC_EVENT CARD_EV ON FE.EVENT_ID = CARD_EV.EVENT_ID AND CARD_EV.ACCS_DVC_EVENT_RL_TYP_CD = 'TXN_CARD' AND  FE.EVENT_ST_DT = CARD_EV.EVENT_ST_DT 
LEFT OUTER JOIN BIP_VXDB.V0525X_EVENT_MRCH EV_MRCH ON FE.EVENT_ID = EV_MRCH.EVENT_ID AND FE.EVENT_ST_DT = EV_MRCH.EVENT_ST_DT 
LEFT OUTER JOIN BIP_VXDB.V7362_EVENT_TO_EVENT_CLAS_VAL POS_MODE ON FE.EVENT_ID = POS_MODE.EVENT_ID AND POS_MODE.EVENT_CLAS_CD = 'POS_ENTR_MD'  AND  FE.EVENT_ST_DT = POS_MODE.EVENT_ST_DT 
LEFT OUTER JOIN BIP_VXDB.V7362_EVENT_TO_EVENT_CLAS_VAL ECOMM ON FE.EVENT_ID = ECOMM.EVENT_ID AND ECOMM.EVENT_CLAS_CD = 'ECOMM_IND'  AND FE.EVENT_ST_DT = ECOMM.EVENT_ST_DT 
LEFT OUTER JOIN BIP_VXDB.V3527_PARTY_ACCS_DVC PARTY_CARD ON  CARD_EV.ACCS_DVC_ID = PARTY_CARD.ACCS_DVC_ID AND PARTY_CARD.DATA_SOURCE_ID = 110 AND  CARD_EV.EVENT_ST_DT BETWEEN PARTY_CARD.ST_DT AND PARTY_CARD.END_DT                 
LEFT OUTER JOIN BIP_VXDB.V1130_PARTY_IDNTFN PARTY ON PARTY_CARD.PARTY_ID = PARTY.PARTY_ID AND  PARTY.PARTY_IDNTFN_TYP_CD = 'CISCIN' AND PARTY.DATA_SOURCE_ID = '106' AND   DC.CURR_DATE BETWEEN PARTY.ST_DT AND PARTY.END_DT 
--LEFT OUTER JOIN BIP_VXDB.V0145X_MRCH_CATG MRCH_CAT  ON EV_MRCH.MRCH_CATG_CD = MRCH_CAT.MRCH_CATG_CD
LEFT OUTER JOIN BIP_VXDB.VC0R003_CU_MCC_TYP  CU_MCC ON (CAST(EV_MRCH.MRCH_CATG_CD AS INTEGER)=CAST(CU_MCC.MCC_CODE AS INTEGER))          
LEFT OUTER JOIN  BIP_VXDB.VC0R104_CU_CC_TXN_TYP CU_CC_TXN_TYP ON CAST(EV.HST_TXN_CD AS INTEGER) = CAST(CU_CC_TXN_TYP.TXN_CODE AS INTEGER)  AND FE.ORG = '702'           
LEFT OUTER JOIN  BIP_VXDB.VC0R403_CU_DC_TXN_TYP CU_DC_TXN_TYP ON CAST(EV.HST_TXN_CD AS INTEGER) = CAST(CU_DC_TXN_TYP.TXN_CODE AS INTEGER) AND FE.ORG  IN ( '705','780')
LEFT OUTER JOIN BIP_VXDB.VC0R203_CU_CL_TXN_TYP CU_CL_TXN_TYP ON (CAST(EV.HST_TXN_CD AS INTEGER)= CAST(CU_CL_TXN_TYP.TXN_CODE AS INTEGER) AND FE.ORG IN ( '100'))
WHERE ((CU_DC_TXN_TYP.CATEGORY4 ='SALES' OR CU_DC_TXN_TYP.CATEGORY1 = 'NET FEES')  OR  (CU_CC_TXN_TYP.CATEGORY4 = 'SALES' OR CU_CC_TXN_TYP.CATEGORY1 = 'NET FEES') )

UNION ALL

SELECT 
FE.EVENT_ID
,DC.CURR_DATE AS CALENDAR_DT
,EV.CHNL_ID
, PARTY.PARTY_IDNTFN_NMBR || PARTY.PARTY_IDNTFN_NMBR_SFFX AS PRIMARY_CUSTOMER_ID
,FE.ACCT_ID
,CARD_EV.ACCS_DVC_ID
,EV.TXN_IDNTFN
,EV.HST_TXN_CD
,NULL AS EVENT_CURR_STATS_CD
,FE.DR_CR_CD
,EV.EVENT_ST_DT
,TRIM(EV.EVENT_ST_TM) 
,NULL AS EVENT_END_DT
,NULL AS EVENT_END_TM
,SRVC_PRVDR.  SRVC_PRVDR_PARTY_NM
,ES.EVENT_STAT_RSN_CD
,EV.EVENT_ACTV_TYP_CD
,FE.FIN_EVENT_TYP_CD
,EV.ACCS_DVC_EVENT_IND
,EV.INVST_PRDT_EVENT_IND
,NULL AS FNDS_TFR_EVENT_IND
,EV.EVENT_LOC_CD
,EV.INFO_SRC_TYP_CD
,SRVC_PRVDR.  SCTR_CD
,FE.EVENT_PSTD_DT
,FE.EVENT_VAL_DT
,FE.EVENT_CCY_CD
,CASE WHEN FE.DR_CR_CD = 'CR' THEN -1*EVENT_AMT WHEN FE.DR_CR_CD = 'DR' THEN EVENT_AMT END AS EVENT_AMT
,CASE WHEN FE.DR_CR_CD = 'CR' THEN -1*EVENT_BASE_AMT WHEN FE.DR_CR_CD = 'DR' THEN EVENT_BASE_AMT END  AS EVENT_BSE_AMT  
,NULL  AS EVENT_TXT
,FE.TO_ACCT_ID
,SRVC_PRVDR.  PARTY_ID  
,CAST (NULL  AS  VARCHAR(200))  AS MCC   
,CAST (NULL  AS  VARCHAR(200))  AS MRCHNT_CTGRY_DESC
,CAST (NULL  AS  VARCHAR(200)) AS MRCHNT_SRVC_CTGRY_DESC  
,CARD_EV.AUTHIZATION_VAL
,CAST (NULL  AS  INTEGER)  AS  MRCHNT_ON_US_FLG
,CAST (NULL  AS  VARCHAR(50)) AS USR_TXN_CTGRY_1
,CAST (NULL  AS  VARCHAR(50))AS USR_TXN_CTGRY_2
,CAST (NULL  AS  VARCHAR(50)) AS USR_TXN_CTGRY_3
,CAST (NULL  AS  VARCHAR(200)) AS USR_TXN_DESC
,CAST (NULL  AS  INTEGER) AS CNTCTLESS_FLG
,CAST (NULL  AS  INTEGER) AS LCL_TXN_IND
,CAST (NULL  AS  CHAR(20)) AS ECMMRC_FLG
,CAST (NULL  AS  CHAR(20)) AS PNT_OF_SRVC_VAL_CD      
,PARTY.PARTY_ID
,EV.ST_DT AS AS_OF_DT
,776500 AS INS_PROC_ID
,114 AS DATA_SOURCE_ID
FROM 

(SELECT * FROM 
BIP_VXDB.V0521_FIN_EVENT FE
CROSS JOIN (SELECT  CURRENT_EXTRACTION_DATE AS CURR_DATE  FROM  BIP_ADM_TXFDB.V_DATE_CARD_M6_DC001) DC
WHERE FE.DATA_SOURCE_ID = '114'  
AND  FE.EVENT_ST_DT BETWEEN DC.CURR_DATE - 400 AND       DC.CURR_DATE 
)
FE
CROSS JOIN (SELECT  CURRENT_EXTRACTION_DATE AS CURR_DATE  FROM  BIP_ADM_TXFDB.V_DATE_CARD_M6_DC001) DC
---INNER JOIN  BIP_VXDB.V0500_EVENT EV  ON  FE.EVENT_ID = EV.EVENT_ID AND  FE.EVENT_ST_DT = EV.EVENT_ST_DT 
INNER JOIN
(
SELECT 
EVENT_ID
,CHNL_ID
,TXN_IDNTFN 
,HST_TXN_CD
,EVENT_ST_DT
,EVENT_ST_TM 
,EVENT_DESC
,EVENT_RSN_CD
,EVENT_ACTV_TYP_CD
,ACCS_DVC_EVENT_IND
,INVST_PRDT_EVENT_IND  
,EVENT_LOC_CD 
,INFO_SRC_TYP_CD
,DATA_SOURCE_ID
,ST_DT
FROM BIP_VXDB.V0500_EVENT 
CROSS JOIN (SELECT  CURRENT_EXTRACTION_DATE AS CURR_DATE  FROM  BIP_ADM_TXFDB.V_DATE_CARD_M6_DC001) DC
WHERE DATA_SOURCE_ID = 114 AND EVENT_ST_DT BETWEEN DC.CURR_DATE - 400 AND  DC.CURR_DATE 
) EV
ON  FE.EVENT_ID = EV.EVENT_ID AND  FE.EVENT_ST_DT = EV.EVENT_ST_DT 

LEFT OUTER JOIN  BIP_VXDB.V0510_ACCS_DVC_EVENT CARD_EV ON  FE.EVENT_ID = CARD_EV.EVENT_ID AND CARD_EV.ACCS_DVC_EVENT_RL_TYP_CD = 'TXN_CARD' AND  FE.EVENT_ST_DT = CARD_EV.EVENT_ST_DT 
LEFT OUTER JOIN  BIP_VXDB.V3527_PARTY_ACCS_DVC PARTY_CARD ON CARD_EV.ACCS_DVC_ID = PARTY_CARD.ACCS_DVC_ID AND PARTY_CARD.DATA_SOURCE_ID IN  (110,106) AND  CARD_EV.EVENT_ST_DT BETWEEN PARTY_CARD.ST_DT AND PARTY_CARD.END_DT        
LEFT OUTER JOIN  BIP_VXDB.V1130_PARTY_IDNTFN PARTY ON PARTY_CARD.PARTY_ID = PARTY.PARTY_ID AND  PARTY.PARTY_IDNTFN_TYP_CD = 'CISCIN' AND PARTY.DATA_SOURCE_ID = '106' AND   DC.CURR_DATE  BETWEEN PARTY.ST_DT AND PARTY.END_DT 
LEFT OUTER JOIN BIP_VXDB.V0502_EVENT_PARTY EVENT_PARTY ON FE.EVENT_ID = EVENT_PARTY.EVENT_ID AND EVENT_PARTY.EVENT_PARTY_RL_CD = 'RTLR' AND  FE.EVENT_ST_DT = EVENT_PARTY.EVENT_ST_DT  AND EVENT_PARTY.DATA_SOURCE_ID=114
LEFT OUTER JOIN BIP_VXDB.V2143X_SRVC_PRVDR SRVC_PRVDR ON EVENT_PARTY.PARTY_ID = SRVC_PRVDR.PARTY_ID AND SRVC_PRVDR.DATA_SOURCE_ID=114 AND DC.CURR_DATE  BETWEEN SRVC_PRVDR.ST_DT AND SRVC_PRVDR.END_DT
LEFT OUTER JOIN BIP_VXDB.V7360_EVENT_STAT ES  ON  FE.EVENT_ID = ES.EVENT_ID AND  FE.EVENT_ST_DT = ES.EVENT_ST_DT 
WHERE EV.DATA_SOURCE_ID = '114'  
AND  EV.EVENT_ST_DT BETWEEN  DC.CURR_DATE - 400 AND       DC.CURR_DATE 

UNION ALL

SELECT 
FE.EVENT_ID
,DC.CURR_DATE AS CALENDAR_DT
,EV.CHNL_ID
, PTY_ID.PARTY_IDNTFN_NMBR || PTY_ID.PARTY_IDNTFN_NMBR_SFFX AS PRIMARY_CUSTOMER_ID
,FE.ACCT_ID
,CAST (NULL  AS  VARCHAR(255))AS ACCS_DVC_ID 
,EV.TXN_IDNTFN
,EV.HST_TXN_CD
,NULL AS EVENT_CURR_STATS_CD
,FE.DR_CR_CD
,EV.EVENT_ST_DT
,TRIM(EV.EVENT_ST_TM) 
,NULL AS EVENT_END_DT
,NULL AS EVENT_END_TM
,TXT.EVENT_TXT AS EVENT_DESC
,EV.EVENT_RSN_CD
,EV.EVENT_ACTV_TYP_CD
,FE.FIN_EVENT_TYP_CD
,EV.ACCS_DVC_EVENT_IND
,EV.INVST_PRDT_EVENT_IND
,NULL AS FNDS_TFR_EVENT_IND
,EV.EVENT_LOC_CD
,EV.INFO_SRC_TYP_CD
,CAST (NULL  AS  CHAR(20)) AS   EVENT_CNTRY_CD 
,FE.EVENT_PSTD_DT
,FE.EVENT_VAL_DT
,FE.EVENT_CCY_CD
,CASE WHEN FE.DR_CR_CD = 'CR' THEN -1*EVENT_AMT WHEN FE.DR_CR_CD = 'DR' THEN EVENT_AMT END AS EVENT_AMT
,CASE WHEN FE.DR_CR_CD = 'CR' THEN -1*EVENT_BASE_AMT WHEN FE.DR_CR_CD = 'DR' THEN EVENT_BASE_AMT END  AS EVENT_BSE_AMT  
,NULL AS EVENT_TXT
,FE.TO_ACCT_ID
,CAST (NULL  AS  CHAR(255)) AS MRCHNT_ID
,CAST (NULL  AS  VARCHAR(200))  AS MCC   
,CAST (NULL  AS  VARCHAR(200))  AS MRCHNT_CTGRY_DESC
,CAST (NULL  AS  VARCHAR(200)) AS MRCHNT_SRVC_CTGRY_DESC    
,CAST (NULL  AS  VARCHAR(200)) AS ACCS_DVC_AUTH_VAL
,CAST (NULL  AS  INTEGER)  AS  MRCHNT_ON_US_FLG
,CAST (NULL  AS  VARCHAR(50)) AS USR_TXN_CTGRY_1
,CAST (NULL  AS  VARCHAR(50))AS USR_TXN_CTGRY_2
,CAST (NULL  AS  VARCHAR(50)) AS USR_TXN_CTGRY_3
,CAST (NULL  AS  VARCHAR(200)) AS USR_TXN_DESC
,CAST (NULL  AS  INTEGER) AS CNTCTLESS_FLG
,CAST (NULL  AS  INTEGER) AS LCL_TXN_IND
,CAST (NULL  AS  CHAR(20)) AS ECMMRC_FLG
,CAST (NULL  AS  CHAR(20)) AS PNT_OF_SRVC_VAL_CD      
,AGMT_PARTY.PARTY_ID
,EV.ST_DT AS AS_OF_DT
,776500 AS INS_PROC_ID
,113 AS DATA_SOURCE_ID
FROM 

(SELECT * FROM 
BIP_VXDB.V0521_FIN_EVENT FE
CROSS JOIN (SELECT  CURRENT_EXTRACTION_DATE AS CURR_DATE  FROM  BIP_ADM_TXFDB.V_DATE_CARD_M6_DC001) DC
WHERE FE.DATA_SOURCE_ID = '113'  
AND  FE.EVENT_ST_DT BETWEEN DC.CURR_DATE  - 400 AND CURR_DATE
)
FE
CROSS JOIN (SELECT  CURRENT_EXTRACTION_DATE AS CURR_DATE  FROM  BIP_ADM_TXFDB.V_DATE_CARD_M6_DC001) DC

----INNER JOIN  BIP_VXDB.V0500_EVENT EV  ON  FE.EVENT_ID = EV.EVENT_ID AND  FE.EVENT_ST_DT = EV.EVENT_ST_DT 
INNER JOIN
(
SELECT 
 EVENT_ID
, CHNL_ID
,TXN_IDNTFN 
,HST_TXN_CD
,EVENT_ST_DT
,EVENT_ST_TM
,EVENT_DESC
,EVENT_RSN_CD
,EVENT_ACTV_TYP_CD
,ACCS_DVC_EVENT_IND
,INVST_PRDT_EVENT_IND  
,EVENT_LOC_CD 
,INFO_SRC_TYP_CD
,DATA_SOURCE_ID
,ST_DT
FROM BIP_VXDB.V0500_EVENT 
CROSS JOIN (SELECT  CURRENT_EXTRACTION_DATE AS CURR_DATE  FROM  BIP_ADM_TXFDB.V_DATE_CARD_M6_DC001) DC
WHERE DATA_SOURCE_ID = 113 AND EVENT_ST_DT BETWEEN DC.CURR_DATE - 400 AND  DC.CURR_DATE 
) EV
 ON  FE.EVENT_ID = EV.EVENT_ID AND  FE.EVENT_ST_DT = EV.EVENT_ST_DT 

LEFT OUTER JOIN BIP_VXDB.V0529X_EVENT_TXT      TXT ON        FE.EVENT_ID = TXT.EVENT_ID AND  FE.EVENT_ST_DT = TXT.EVENT_ST_DT    AND TXT_TYP_CD='ADDNL_TXN_REF_TXT' 
INNER JOIN BIP_VXDB.V0328_AGMT_PARTY AGMT_PARTY ON FE.ACCT_ID = AGMT_PARTY.ACCT_ID AND AGMT_PARTY.DATA_SOURCE_ID = 106 AND AGMT_PARTY.AGMT_PARTY_RL_CD ='ACCT_HLDR' AND  DC.CURR_DATE  BETWEEN AGMT_PARTY.ST_DT AND AGMT_PARTY.END_DT
INNER JOIN BIP_VXDB.V1130_PARTY_IDNTFN PTY_ID 
  ON AGMT_PARTY.PARTY_ID=PTY_ID.PARTY_ID
  AND PTY_ID.PARTY_IDNTFN_TYP_CD =  'CISCIN'
  AND PTY_ID.PARTY_IDNTFN_CATG_CD = 'PERSONAL' 
  AND DC.CURR_DATE BETWEEN PTY_ID.ST_DT AND PTY_ID.END_DT
WHERE EV.DATA_SOURCE_ID = '113'  
AND  EV.EVENT_ST_DT BETWEEN DC.CURR_DATE  - 400 AND DC.CURR_DATE

UNION ALL

SELECT 
FE.EVENT_ID
,DC.CURR_DATE AS CALENDAR_DT
,EV.CHNL_ID
, PTY_ID.PARTY_IDNTFN_NMBR || PTY_ID.PARTY_IDNTFN_NMBR_SFFX AS PRIMARY_CUSTOMER_ID
,FE.ACCT_ID
,CAST (NULL  AS  VARCHAR(255))AS ACCS_DVC_ID 
,EV.TXN_IDNTFN
,EV.HST_TXN_CD
,NULL AS EVENT_CURR_STATS_CD
,FE.DR_CR_CD
,EV.EVENT_ST_DT
,TRIM(EV.EVENT_ST_TM) 
,NULL AS EVENT_END_DT
,NULL AS EVENT_END_TM
,TXT.EVENT_TXT|| TXT1.EVENT_TXT AS EVENT_DESC
,EV.EVENT_RSN_CD
,EV.EVENT_ACTV_TYP_CD
,FE.FIN_EVENT_TYP_CD
,EV.ACCS_DVC_EVENT_IND
,EV.INVST_PRDT_EVENT_IND
,NULL AS FNDS_TFR_EVENT_IND
,EV.EVENT_LOC_CD
,EV.INFO_SRC_TYP_CD
,CAST (NULL  AS  CHAR(20)) AS   EVENT_CNTRY_CD 
,FE.EVENT_PSTD_DT
,FE.EVENT_VAL_DT
,FE.EVENT_CCY_CD
,CASE WHEN FE.DR_CR_CD = 'CR' THEN -1*EVENT_AMT WHEN FE.DR_CR_CD = 'DR' THEN EVENT_AMT END AS EVENT_AMT
,CASE WHEN FE.DR_CR_CD = 'CR' THEN -1*EVENT_BASE_AMT WHEN FE.DR_CR_CD = 'DR' THEN EVENT_BASE_AMT END  AS EVENT_BSE_AMT  
,NULL AS EVENT_TXT
,FE.TO_ACCT_ID
,CAST (NULL  AS  CHAR(255)) AS MRCHNT_ID
,CAST (NULL  AS  VARCHAR(200))  AS MCC   
,CAST (NULL  AS  VARCHAR(200))  AS MRCHNT_CTGRY_DESC
,CAST (NULL  AS  VARCHAR(200)) AS MRCHNT_SRVC_CTGRY_DESC    
,CAST (NULL  AS  VARCHAR(200)) AS ACCS_DVC_AUTH_VAL
,CAST (NULL  AS  INTEGER)  AS  MRCHNT_ON_US_FLG
,CAST (NULL  AS  VARCHAR(50)) AS USR_TXN_CTGRY_1
,CAST (NULL  AS  VARCHAR(50))AS USR_TXN_CTGRY_2
,CAST (NULL  AS  VARCHAR(50)) AS USR_TXN_CTGRY_3
,CAST (NULL  AS  VARCHAR(200)) AS USR_TXN_DESC
,CAST (NULL  AS  INTEGER) AS CNTCTLESS_FLG
,CAST (NULL  AS  INTEGER) AS LCL_TXN_IND
,CAST (NULL  AS  CHAR(20)) AS ECMMRC_FLG
,CAST (NULL  AS  CHAR(20)) AS PNT_OF_SRVC_VAL_CD      
,AGMT_PARTY.PARTY_ID
,EV.ST_DT AS AS_OF_DT
,776500 AS INS_PROC_ID
,105 AS DATA_SOURCE_ID
FROM 

(SELECT * FROM 
BIP_VXDB.V0521_FIN_EVENT FE
CROSS JOIN (SELECT  CURRENT_EXTRACTION_DATE AS CURR_DATE  FROM  BIP_ADM_TXFDB.V_DATE_CARD_M6_DC001) DC
WHERE FE.DATA_SOURCE_ID = '105'  
AND  FE.EVENT_ST_DT BETWEEN DC.CURR_DATE  - 400 AND CURR_DATE
)
FE
CROSS JOIN (SELECT  CURRENT_EXTRACTION_DATE AS CURR_DATE  FROM  BIP_ADM_TXFDB.V_DATE_CARD_M6_DC001) DC
---INNER JOIN  BIP_VXDB.V0500_EVENT EV  ON  FE.EVENT_ID = EV.EVENT_ID AND  FE.EVENT_ST_DT = EV.EVENT_ST_DT 
INNER JOIN
(
SELECT 
EVENT_ID
,CHNL_ID
,TXN_IDNTFN 
,HST_TXN_CD
,EVENT_ST_DT
,EVENT_ST_TM
,EVENT_DESC
,EVENT_RSN_CD
,EVENT_ACTV_TYP_CD
,ACCS_DVC_EVENT_IND
,INVST_PRDT_EVENT_IND  
,EVENT_LOC_CD 
,INFO_SRC_TYP_CD
,DATA_SOURCE_ID
,ST_DT
FROM BIP_VXDB.V0500_EVENT 
CROSS JOIN (SELECT  CURRENT_EXTRACTION_DATE AS CURR_DATE  FROM  BIP_ADM_TXFDB.V_DATE_CARD_M6_DC001) DC
WHERE DATA_SOURCE_ID = 105 AND EVENT_ST_DT BETWEEN DC.CURR_DATE - 400 AND  DC.CURR_DATE 
) EV
 ON  FE.EVENT_ID = EV.EVENT_ID AND  FE.EVENT_ST_DT = EV.EVENT_ST_DT 
LEFT OUTER JOIN BIP_VXDB.V0529X_EVENT_TXT      TXT ON        FE.EVENT_ID = TXT.EVENT_ID AND  FE.EVENT_ST_DT = TXT.EVENT_ST_DT    AND TXT. TXT_TYP_CD='ADDNL_TXN_REF_TXT' 
LEFT OUTER JOIN BIP_VXDB.V0529X_EVENT_TXT      TXT1  ON        FE.EVENT_ID = TXT1.EVENT_ID AND  FE.EVENT_ST_DT = TXT1.EVENT_ST_DT    AND TXT1. TXT_TYP_CD='CLNT_REF' 
INNER JOIN BIP_VXDB.V0328_AGMT_PARTY AGMT_PARTY ON FE.ACCT_ID = AGMT_PARTY.ACCT_ID AND AGMT_PARTY.DATA_SOURCE_ID = 106 AND AGMT_PARTY.AGMT_PARTY_RL_CD ='ACCT_HLDR' AND DC.CURR_DATE BETWEEN AGMT_PARTY.ST_DT AND AGMT_PARTY.END_DT
INNER JOIN BIP_VXDB.V1130_PARTY_IDNTFN PTY_ID 
  ON AGMT_PARTY.PARTY_ID=PTY_ID.PARTY_ID
  AND PTY_ID.PARTY_IDNTFN_TYP_CD =  'CISCIN'
  AND PTY_ID.PARTY_IDNTFN_CATG_CD = 'PERSONAL' 
  AND DC.CURR_DATE BETWEEN PTY_ID.ST_DT AND PTY_ID.END_DT
WHERE EV.DATA_SOURCE_ID = '105'  
AND  EV.EVENT_ST_DT BETWEEN DC.CURR_DATE  - 400 AND DC.CURR_DATE;

"""

In [133]:
sql

In [134]:
sql = sql2

In [135]:
stmt2=sqlparse.parse(sql)

In [136]:
stmt2

In [137]:
stmt2.tokens

In [138]:
stmt2=sqlparse.parse(sql)[0]

In [139]:
stmt2.tokens

In [140]:
for token in query_tokens.tokens:if isinstance(token, Where)

In [141]:
for token in query_tokens.tokens:if isinstance(token, Where)

In [142]:
for token in stmt2.tokens:
    if isinstance(token, Where)

In [143]:
for token in stmt2.tokens:
    if isinstance(token, Where):
        print token

In [144]:
for token in stmt2.tokens:
    if isinstance(token, Where,Comparison):
        print token

In [145]:
for token in stmt2.tokens:
    if isinstance(token, [Where,Comparison]):
        print token

In [146]:
isinstance?

In [147]:
for token in stmt2.tokens:
    if isinstance(token, (Where,Comparison)):
        print token

In [148]:
dir(sqlparse.sql)

In [149]:
for token in stmt2.tokens:
    if isinstance(token, (Identifier)):
        print token

In [150]:
from sqlparse.sql import Identifier

In [151]:
for token in stmt2.tokens:
    if isinstance(token, (Identifier)):
        print token

In [152]:
for token in stmt2.tokens[0:1]:
    if isinstance(token, (Identifier)):
        print token

In [153]:
for token in stmt2.tokens[0:2]:
    if isinstance(token, (Identifier)):
        print token

In [154]:
for token in stmt2.tokens:
    if isinstance(token, (Identifier)):
        print token

In [155]:
for token in stmt2.tokens[0:]:
    if isinstance(token, (Identifier)):
        print token

In [156]:
for token in stmt2.tokens:
    if isinstance(token, (Identifier)):
        print token

In [157]:
i = 0

In [158]:
for token in stmt2.tokens:
    if isinstance(token, (Identifier)):
        i++
        print (i, 'times',token)

In [159]:
for token in stmt2.tokens:
    if isinstance(token, (Identifier)):
        i+=1
        print (i, 'times',token)

In [160]:
for token in stmt2.tokens:
    if isinstance(token, (Identifier)):
        identifierL.append(token)

In [161]:
identifierL = []

In [162]:
for token in stmt2.tokens:
    if isinstance(token, (Identifier)):
        identifierL.append(token)

In [163]:
identifierL

In [164]:
identifierL[0]

In [165]:
print identifierL[0]

In [166]:
identifierL[0].get_real_name()

In [167]:
identifierL[0].get_name()

In [168]:
for i identifierL:

In [169]:
for i in identifierL:
    print i.get_name()
    print i.get_real_name()

In [170]:
for i in identifierL:
    print i.get_name, '||', i.get_real_name()

In [171]:
for i in identifierL:
    print i.get_name(), '||', i.get_real_name()

In [172]:
for i in identifierL:
    rnm = i.get_real_name()
    nm = i.get_name()
    if rnm == nm:
      print identifierD[nm] = rnm

In [173]:
identifierD = {}

In [174]:
for i in identifierL:
    rnm = i.get_real_name()
    nm = i.get_name()
    if rnm == nm:
      print identifierD[nm] = rnm

In [175]:
for i in identifierL:
    rnm = i.get_real_name()
    nm = i.get_name()
    if rnm == nm:
      identifierD[nm] = rnm

In [176]:
identifierD

In [177]:
for i in identifierL:
    rnm = i.get_real_name()
    nm = i.get_name()
    if rnm != nm:
      identifierD[nm] = rnm

In [178]:
identifierD

In [179]:
for i in identifierL:
    rnm = i.get_real_name()
    nm = i.get_name()
    if rnm != nm: identifierD[nm] = rnm

In [180]:
identifierD={}

In [181]:
for i in identifierL:
    rnm = i.get_real_name()
    nm = i.get_name()
    if rnm != nm: identifierD[nm] = rnm

In [182]:
identifierD

In [183]:
stmt2.tokens

In [184]:
len(stmt2.tokens)

In [185]:
for token in stmt2.tokens:
    if isinstance(token, (Keyword)):
        identifierL.append(token)

In [186]:
from sqlparse.sql import Keyword

In [187]:
stmt2.tokens

In [188]:
stmt2.tokens[-5]

In [189]:
keyword = stmt2.tokens[-5]

In [190]:
keyword.ttype

In [191]:
type(keyword)

In [192]:
print keyword

In [193]:
keyword.flatten()

In [194]:
for i in keyword.flatten():
    print i

In [195]:
stmt2.tokens[-4]

In [196]:
stmt2.tokens[-3]

In [197]:
stmt2.tokens[-2]

In [198]:
stmt2.tokens[-1]

In [199]:
stmt2.tokens

In [200]:
for token in stmt2.tokens:
    if isinstance(token, Where):
        print token

In [201]:
where = next(token for token in stmt.tokens if isinstance(token, Where))

In [202]:
where

In [203]:
where.tokens

In [204]:
where.tokens[2]

In [205]:
c = where.tokens[2]

In [206]:
print c

In [207]:
c.get_name

In [208]:
c.get_name()

In [209]:
c.get_real_name()

In [210]:
c.get_parent_name()

In [211]:
c.parent

In [212]:
c.parent()

In [213]:
c.parent.get_name

In [214]:
c.parent.get_name()

In [215]:
where

In [216]:
print where

In [217]:
stmt.tokens

In [218]:
stmt.tokens

In [219]:
stmt[-3]

In [220]:
print stmt[-3]

In [221]:
stmt2

In [222]:
stmt2.tokens

In [223]:
stmt2[-3]

In [224]:
print stmt2[-3]

In [225]:
print stmt2[-1]

In [226]:
print stmt2[-1].tokens

In [227]:
stmt2[-1].tokens

In [228]:
stmt2[-1].tokens[6]

In [229]:
stmt2[-1].tokens[6].get_name()

In [230]:
stmt2[-1].tokens[6].get_real_name()

In [231]:
stmt2[-1].tokens[6]

In [232]:
stmt2[-1].tokens[6].tokens

In [233]:
stmt2[-1].tokens[6]

In [234]:
stmt2

In [235]:
stmt2.tokens

In [236]:
stmt2[-2]

In [237]:
stmt2[-3]

In [238]:
stmt2[-3].tokens

In [239]:
stmt2[-1].tokens

In [240]:
print stmt2[-1]

In [241]:
print stmt2[-1].tokens

In [242]:
stmt2[-1].tokens

In [243]:
stmt2[-1].tokens[2]

In [244]:
c = stmt2[-1].tokens[2]

In [245]:
print c

In [246]:
c.tokens

In [247]:
c[0]

In [248]:
c[0].tokens

In [249]:
c[0].tokens[0]

In [250]:
c[0].tokens[0].value

In [251]:
c[0].tokens[2].value

In [252]:
pwd

In [253]:
c[0].tokens[2]

In [254]:
c[0].tokens

In [255]:
c[0]

In [256]:
c0 = c[0]

In [257]:
c0

In [258]:
c0

In [259]:
c0.get_name()

In [260]:
c0.get_real_name()

In [261]:
stmt2.tokens

In [262]:
stmt2.tokens[-3]

In [263]:
stmt2.tokens[-3].get_name()

In [264]:
print stmt2.tokens[-3]

In [265]:
print stmt2.tokens[-3].has_alias

In [266]:
print stmt2.tokens[-3].has_alias()

In [267]:
stmt2.tokens

In [268]:
stmt2.tokens[2]

In [269]:
stmt2.tokens[3]

In [270]:
print stmt2.tokens[3]

In [271]:
stmt2.tokens[3]

In [272]:
l = stmt2.tokens[3]

In [273]:
l.get_name()

In [274]:
l.get_real_name()

In [275]:
l.get_name()

In [276]:
l.has_alias()

In [277]:
l

In [278]:
l.tokens

In [279]:
l.tokens[0]

In [280]:
print l.tokens[0]

In [281]:
l.is_group

In [282]:
l.is_group?

In [283]:
type(l)

In [284]:
stmt

In [285]:
stmt2

In [286]:
stmt2.tokens

In [287]:
[i i in stmt2.tokens if isinstance(i,sqlparse.tokens.Keyword)]

In [288]:
[i for i in stmt2.tokens if isinstance(i,sqlparse.tokens.Keyword)]

In [289]:
[i for i in stmt2.tokens if isinstance(i,i,sqlparse.tokens.Keyword)]

In [290]:
[i for i in stmt2.tokens if isinstance(i,sqlparse.tokens.Keyword)]

In [291]:
isinstance(i,sqlparse.tokens.Keyword)

In [292]:
isinstance('i',sqlparse.tokens.Keyword)

In [293]:
[i for i in stmt2.tokens ]

In [294]:
[type(i) for i in stmt2.tokens ]

In [295]:
[i for i in stmt2.tokens if isinstance(i,sqlparse.sql.Token)]

In [296]:
[i for i in stmt2.tokens if isinstance(i,sqlparse.sql.Token)]

In [297]:
stmt2[-5]

In [298]:
a = stmt2[-5]

In [299]:
a.is_group()

In [300]:
a.is_group

In [301]:
a.ttype

In [302]:
a.ttype()

In [303]:
a.ttyp

In [304]:
a.ttype

In [305]:
[i for i in stmt2.tokens if isinstance(i,sqlparse.sql.Token)]

In [306]:
a = stmt2[-4]

In [307]:
print a

In [308]:
a.ttype

In [309]:
a = stmt2[-5]

In [310]:
a.value

In [311]:
i.tokens

In [312]:
stmt2.tokens

In [313]:
t = stmt2.tokens

In [314]:
t[:10]

In [315]:
t[10:20]

In [316]:
t[11]

In [317]:
t11 = t[11]

In [318]:
print t11

In [319]:
t11.ttype

In [320]:
t11.is_group

In [321]:
t11.value

In [322]:
t[12]

In [323]:
t[13]

In [324]:
t[10:20]

In [325]:
t[16]

In [326]:
print t[16]

In [327]:
print t[18]

In [328]:
t[15:25]